extends layout

block content
  h1= file.name
  
  .confirm-password
    p Enter the password to download this file.
      | Note that if the password is incorrect, you will recieve a corrupted file.
    input.password(type='password', placeholder="password")

  button.download Download
  br
  br
  script(src='/javascripts/libraries/jquery.js')
  script(src='/javascripts/libraries/underscore.js')
  script(src='/javascripts/download.js')

  - var file_data = JSON.stringify(file)
  != "<script type='text/javascript'>"
  != "ice9.file = " +file_data+";"
  != "</script>"