extends layout

block content

  #file-input.container.empty
    label [drop files here]
    ul.file-list


  .choose-password.hidden
    p Now it's time to choose the top-secret password. Make sure not to forget it.
    input.password(type='password', placeholder="password")
    br
    br
    button.encrypt Encrypt & Upload


  script(src='/javascripts/libraries/jquery.js')
  script(src='/javascripts/libraries/underscore.js')
  script(src='/javascripts/upload.js')