doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header ice9
    .wrap
      .content
        block content
      .footer Build by @p3drosola