extends layout

block content

  script(src='/javascripts/libraries/jquery.js')
  script(src='/javascripts/libraries/underscore.js')

  script(src='/javascripts/libraries/cryptojs/rollups/aes.js')
  script(src='/javascripts/test.js')